<!DOCTYP html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">"  
    <title>HomePage</title>
    <link rel="stylesheet" href="{{url_for('static', filename='estilo.css')}}">"
    
  </head>
  
  <body>
    <div id="cointainer">
    <h1>Carreiras em Python</h1>
    <img id="banner" src= " {{url_for('static', filename='carreira.jpg')}} "/> 
    <h2>Sobre o Site</h2>
    <div style="text-align:center;">
    <p> A linguagem Python é usada em diversas carreiras e setores, como: <br>
    Desenvolvimento web: É uma linguagem popular para criar sites, aplicativos web e APIs. <br>
    Ciência de dados: É usada para coletar e analisar dados. <br>
    Fintech e setor financeiro: É aplicado para análise de dados financeiros, modelagem quantitativa, previsão de preços de ativos, entre outros. <br>
    Inteligência artificial e machine learning: Algumas bibliotecas de Python, como Keras e TensorFlow, trazem a funcionalidade de aprendizado de máquina para a linguagem. <br>
    Computação gráfica: É usado para construir aplicativos GUI (Graphical User Interface) e de desktop.</p>
    </div>
    <h2>Vagas abertas</h2>
    <p>Aqui será retornado vagas sobre a Linguagem Python</p>
    <div style="text-align: center;">
    <button>Entrar em contato</button>
    </div>
    </div>
  </body>
</html>
    